In [39]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.linear_model import Lasso,Ridge,LinearRegression
from sklearn.model_selection import train_test_split

In [46]:
df = pd.read_csv("energydata_complete.csv")

In [47]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [48]:
df.drop(['date','lights'],axis = 1,inplace = True)

In [49]:
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [50]:
def sum_of_squared_r(y1,y2):
    rss = np.sum(np.square(y1 - y2))
    return np.round(rss,3)

In [54]:
scaler = MinMaxScaler()
data = df.drop(['Appliances'],axis = 1)
data = scaler.fit_transform(data)

In [66]:
X_train, X_test, y_train, y_test = train_test_split(data,df.Appliances, test_size=0.30, random_state=42)

In [69]:
lr = LinearRegression(normalize=False).fit(X_train,y_train)
Lr_pred = lr.predict(X_test)

In [76]:
print(mean_absolute_error(y_test,Lr_pred))
print(np.sqrt(mean_squared_error(y_test,Lr_pred)))
print(sum_of_squared_r(y_test,Lr_pred))
print(r2_score(y_test,Lr_pred))

53.64297765584947
93.6404609399803
51918501.212
0.14890246319303513

In [9]:
lasso_lr = Lasso(alpha =0.001,random_state=42).fit(X_train,y_train)
lasso_pred = lasso_lr.predict(X_test)

In [59]:
print('Root_mse')
np.sqrt(mean_squared_error(y_test,lasso_pred))

Root_mse

93.6406750918551

In [77]:
X = df.T2
X = scaler.fit_transform(np.array(X).reshape(-1,1))
y = df.T6

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [78]:
lasso_lr = Lasso(alpha =0.001,random_state=42).fit(X_train,y_train)
lasso_pred = lasso_lr.predict(X_test)

In [79]:
print('Root_mse')
np.sqrt(mean_squared_error(y_test,lasso_pred))

Root_mse

3.630317304189068

In [64]:
lr = LinearRegression(normalize=False).fit(X_train,y_train)
Lr_pred = lr.predict(X_test)

In [65]:
evaluate(y_test,Lr_pred)

Mean absolute error :  2.8229401131313034
RMSE :  3.630315129680444
Sum of squared residuals(RSS) :  78033.972
R2_score:  0.6427789637197382